---
layout: default
---

{%- if page.sidebar -%}
  {%- assign sidebar = page.sidebar -%}
{%- elsif layout.sidebar -%}
  {%- assign sidebar = layout.sidebar -%}
{%- endif -%}

<div class="framework">
  <section class="main">

     {{ content }}

  </section>

  {%- if sidebar -%}
  <section class="sidebar">
    {%- assign sidebar_items = sidebar -%}
    {%- if sidebar_items.first == nil -%}
      {%- assign sidebar_items = sidebar | split: ',' -%}
    {%- endif -%}

    {%- for item in sidebar_items -%}

      {%- assign file = item -%}
      {%- assign array = file | split: '.' -%}
      {%- if array.size == 1 -%}
        {%- assign file = file | append: '.html' -%}
      {%- endif -%}

      {%- assign file = 'sidebar/' | append: file -%}

      {%- include {{ file }} %}

    {%- endfor -%}
  </section>
  {%- endif -%}
</div>
